In [1]:
import pandas as pd
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [2]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [3]:
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [4]:
drinks.columns

Index([u'country', u'beer_servings', u'spirit_servings', u'wine_servings',
       u'total_litres_of_pure_alcohol', u'continent'],
      dtype='object')

In [5]:
# Shape does not include both the row and column index
drinks.shape

(193, 6)

In [6]:
pd.read_csv('http://bit.ly/movieusers', header=None, sep="|").head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

In [7]:
# Identification

In [8]:
# Selection
drinks.loc[23, 'beer_servings']

245

In [16]:
drinks.set_index('country', inplace=True)
drinks.head()

,index,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,,
Afghanistan,0,0,0,0,0.0,Asia
Albania,1,89,132,54,4.9,Europe
Algeria,2,25,0,14,0.7,Africa
Andorra,3,245,138,312,12.4,Europe
Angola,4,217,57,45,5.9,Africa

In [17]:
drinks.loc['Algeria', 'beer_servings']

25

In [18]:
drinks.index.name = None
drinks.head()

,index,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
Afghanistan,0,0,0,0,0.0,Asia
Albania,1,89,132,54,4.9,Europe
Algeria,2,25,0,14,0.7,Africa
Andorra,3,245,138,312,12.4,Europe
Angola,4,217,57,45,5.9,Africa

In [19]:
drinks.index.name = 'country'

In [20]:
drinks.reset_index(inplace=True)
drinks.head()

,country,index,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0,0.0,Asia
1,Albania,1,89,132,54,4.9,Europe
2,Algeria,2,25,0,14,0.7,Africa
3,Andorra,3,245,138,312,12.4,Europe
4,Angola,4,217,57,45,5.9,Africa

In [22]:
drinks.drop('index', axis=1, inplace=True)

In [24]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [25]:
drinks.describe().loc['25%', 'beer_servings']

20.0